body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

.container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #3C275A;
    color: #fff;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #453674;
    margin-bottom: 35px;
}

a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

a:visited {
    color: #3C275A;
}



.return-home {
    text-decoration: underline;
    color:#453674;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.return-home:hover {
    color:#4F3674;
    background-color: #D6A800;
}

.return-home:visited {
    color: #3C275A;
}

/* Week 2.2 Additions */

#btnCheckPhrase {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: #000;
}

#btnCheckPhrase {
    background-color: #4F3674;
    color: #fff;
}

#btnCheckPhrase:hover {
    background-color: #D6A800;
    color: #4F3674;
}

i {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 3px;
    padding-right: 3px;
    margin-bottom: 10px;
    
} 