body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

.container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: #3C275A;
    color: #fff;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #453674;
    margin-bottom: 15px;
}

a:hover {
    background-color: #D6A800;
    color: #4F3674;
}

a:visited {
    color: #3C275A;
}

/* Week 2.2 Additions */

.return-home {
    text-decoration: underline;
    color:#453674;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 100px;
}

.return-home:hover {
    color:#4F3674;
    background-color: #D6A800;
}

.return-home:visited {
    color: #3C275A;
}