#btnAddProduct {
    
        border: none;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        padding: 15px 32px;
        color: #000;
    
}

#btnAddProduct {
    background-color: #4F3674;
    color: #fff;
}

#btnAddProduct :hover {
    background-color: #D6A800;
    color: #4F3674;
}

#cart-message {
    position: relative;
    top: 0;
    right: 0;
    padding-top: 3px;
    padding-right: 3px;
    margin-bottom: 10px;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
    
} 

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
  }
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4f3674;
    color: #fff;
    border: 1px solid #ddd;
  }
  
  td {
    border: 1px solid #ddd;
  }