.landing {
    background-image: url('../images/landing.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}


.navbar-customclass {
    background-color: #A63740;
}
.navbar-customclass .navbar-brand,
.navbar-customclass .navbar-text {
    color: #7D9E99;
    background-color: #A63740;
}
.navbar-customclass .navbar-nav .nav-link {
    color: rgba(255,255,255,.6);
    background-color: #A63740;
}
.navbar-customclass .nav-item.active .nav-link,
.navbar-customclass .nav-item:hover .nav-link {
    color: #7D9E99;
    background-color: #A63740;
}

body {
    /* background-image: url('../images/landing.png');*/
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-color: #C0C0C1;
}

.navbar-brand {
    color: #7D9E99;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-right: 30px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.logo {
    color: #7D9E99;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-right: 30px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.title {
    color: #A63740;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 35px;

}

.card-text {
    font-family: 'Roboto', sans-serif;
    color: #262626;
}


.title-container {
    height: 90vh;
    
}

.landing-main {
    font-size: 66px;
    color: #A63740;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
    margin-left: 125px;
    margin-top: 150px;
}

h5 {
    color:#F2F2F2;
}

h4 {
    color: #A63740;
    font-family: 'Roboto', sans-serif;
}

.custom-header {
    color: #A63740;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
    font-size: 56px;
    top: 0;
}


.copyright {
    background-color: #A63740;
    opacity: 90%;
    color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
 }

.navbar-custom {
    background-color: #A63740;
    /* position: absolute;
    bottom: 0px; */
    color:#F2F2F2;
    width: 100%;
}

.write-up {
    font-family: 'Roboto', sans-serif;
    color: #0D0D0D;
    font-size: 20px;
}

.bucket-list {
    background-color: #C0C0C1;
    
}

.bucket-pics {
    width: 350px;
    height: auto;
}

.bucket-container {
    height: 90vh;
}

.resume {
    background-color: #C0C0C1; 
}



.api {
    background-color: #C0C0C1;
    background-image: url("../images/API.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.databases {
    background-image: url("../images/database.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.work {
    background-image: url("../images/work.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.about {
   background-color: #C0C0C1;
}

/* footer {
    position: fixed;
    bottom: 0px;
} */

.shadow {
    width: 70%;
    height: auto;
}



.list-unstyled {
    font-family: 'Roboto', sans-serif;
    color: #0D0D0D;
    font-size: 20px;
    font-weight: 500;
    
}

a.btn btn-primary {
    background: #A63740 !important;
    color: #F2F2F2 !important;
    font-family: 'Roboto', sans-serif !important;
}

li:hover {
    color: #7D9E99;  
}

     
    












