.landing {
    background-image: url('../images/landing.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}


#logo {
    color: #A63740;
    font-family: 'Raleway', sans-serif;
    font-size: 56px;
    font-weight: bold;
    background-color: #262626;
    opacity: 90%;
    width: 175px;
    text-align: center;
    margin-top: 16px;
    margin-left: 10px;
}

.navbar-customclass {
    background-color: #A63740;
}
.navbar-customclass .navbar-brand,
.navbar-customclass .navbar-text {
    color: #7D9E99;
    background-color: #A63740;
}
.navbar-customclass .navbar-nav .nav-link {
    color: rgba(255,255,255,.6);
    background-color: #A63740;
}
.navbar-customclass .nav-item.active .nav-link,
.navbar-customclass .nav-item:hover .nav-link {
    color: #7D9E99;
    background-color: #A63740;
}

.navbar-brand {
    color: #7D9E99;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-right: 30px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.logo {
    color: #7D9E99;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin-right: 30px;
    letter-spacing: 2px;
    margin-top: 10px;
}

.title {
    color: #A63740;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    bottom: 125px;
    left: 35px;

}

/* 
.header-nav {
    background-color: #262626;
    opacity: 90%;
    width: 175px;
    text-align: center;
    margin-top: -16px;
    margin-left: 10px;
}

.nav-link {
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;

}

.nav-link:hover {
    color: #7D9E99;
}

.nav-link:active {
    color: #A63740;
}

.text-white {
    color:#F2F2F2;
} */

.title {
    color: #A63740;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
    font-size: 56px;
    margin-top: 0px;
    padding-top: 0px;
}

.landing-main {
    font-size: 66px;
    color: #A63740;
    font-family: 'Raleway', sans-serif; 
    font-weight: bold;
    margin-left: 125px;
    margin-top: 150px;
}

h5 {
    color:#F2F2F2;
}

.footer-nav {
    background-color: #262626;
    height: 100px;
    
}

.footer-navbar {
    display: inline;
    list-style-type: none;
    background-color: #262626;
    opacity: 90%;
    display: inline;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.copyright {
    background-color: #262626;
    color: #F2F2F2;
    font-family: 'Roboto', sans-serif;
}

.footer-link {
    font-family: 'Raleway', sans-serif;
    color: #F2F2F2;
    display: inline;
    list-style-type: none;
    margin-top: 40px;
}

.footer-link:hover {
    color: #7D9E99;
}

.footer-li {
    color: #F2F2F2;
    display: inline;
    list-style-type: none;
    margin-top: 40px;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    background-color: #262626;
    opacity: 90%; 
}

.footer-li:hover {
    color: #7D9E99;
}

.about {
    background-color: #C0C0C1;
}

.bucket-list {
  
    background-image: url("../images/bucket_list.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}



.api {
    background-image: url("../images/API.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.databases {
    background-image: url("../images/database.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.work {
    background-image: url("../images/work.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.navbar bg-light, .navbar-nav, .nav-link, nav-item {
    background-color: #262626;
    opacity: 90%;
    font-family: 'Raleway', sans-serif; 
    color: #F2F2F2;
    background: #262626;
    
}


