/**
Title: talley-future-value.css
Author: William Talley
Date: September 19, 2021
Description: Additional style elements for 
Assignment 6.2 (danger-right, danger and form-label
*/

.danger-right {
    color: #DF546A;
    font-size: 12px;
    float:  right;
    letter-spacing: 2px;
    text-align: right;
}

.danger {
    color: #DF546A;
    font-size: 12px;
    letter-spacing: 2px;
    float: right;
}

.form-label {
    display: inline-block;
    padding-top: 10px;
}

input   {
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    padding: 12px 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#futureValue {
    text-align: center;
    font-size: 24px;
    color: #4F3674;
    font-weight: 400;
}